.card{
max-width: 600;
margin: 20px auto;
padding: 10px;
box-shadow: none;
text-align: center;

        
height: auto;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
-webkit-backdrop-filter: blur(2.8px);
backdrop-filter: blur(2.8px);
border: 1px solid rgba(255, 255, 255, 0.3);
}